<ul class="js-list">
    {{#each this}}
    <li class="js-list-item">
        <a href="#" class="js-list-link">
            <h2>{{flag}}{{name.official}}</h2>
        </a>
    </li>
    {{/each}}
</ul>
